* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
}
body{
    background-image: url(img/arrière_plan_ali.png);
    background-repeat: no-repeat;
    background-size: cover;
}
header {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    background-color: #f07d00;
    box-shadow: 0px 8px 10px grey;
}

nav {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    font-size: 18px;
    transition: 0.5s;
}

nav a:hover {
    color: black;
    font-weight: bold;
    transition: 0.5s;
}

nav img {
    width: 25px;
}

div{
    padding-top: 50px;
    text-align: center;
    width: 50%;
    margin: 2% 25%;
}
.Intro{
    font-size: xx-large;
    align-items: center;
    display: flex;
    
}
h1{
    margin: 0 20px;
}
.photo{
    width: auto;
    height: 300px;
    border-end-start-radius: 50%;
    border-top-right-radius: 50%;
}
h3{
    font-size: xx-large;
    margin-bottom: 10px;
}
p{
    font-size: large;
}
.carte{
    width: 100%;
    height: auto;
    margin: 20px 0px;
    border-radius: 50%;
}