* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
}
body{
    background-color: rgb(9, 9, 9);
}
header {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    background-color: #f07d00;
    box-shadow: 0px 8px 10px grey;
}

nav {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    font-size: 18px;
    transition: 0.5s;
}

nav a:hover {
    color: black;
    font-weight: bold;
    transition: 0.5s;
}

nav img {
    width: 25px;
}
section{
    padding: 10% 10%;
}
div{
    border-radius: 10%;
}
.résumé{
    padding-top: 50px;
    text-align: center;
    width: 70%;
    margin: 2% 15%;
}
.logo{
    width: 75%;
    height: auto;
}
.Intro{
    font-size: 50px;
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.alias{
    padding: 20px 0px;
}
.photo{
    width: 50%;
    height: auto;
    border-end-start-radius: 50%;
    border-top-left-radius: 50%;
    
}

h3{
    font-size: 50px;
    margin-bottom: 50px;
    padding: 0 25px;
}
p{
    font-size: 25px;
    font-style: italic;
    padding: 50px 0px;
}
.carte{
    width: 500px;
    height: auto;
    margin: 20px 0px;
    padding: 0 25px;
    border-radius: 30%;
}
.box{
    background-color: rgb(6, 6, 6);
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-around;
}

@media screen and (max-width: 1200px) {
    p{
        font-size: 20px;
        padding: 60px 0px;
    }
    section{
        padding: 10% 5%;
    }
}
@media screen and (max-width: 1000px) {
    .box{
        flex-direction: column;
    }
    p{
        padding: 70px 0px;
    }
}
@media screen and (max-width: 800px){
    .Intro{
        flex-direction: column;
    }
    section{
        padding: 10% 2%;
    }
}