* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
div{
    padding-top: 50px;
    text-align: center;
    width: 50%;
    margin: 0% 25%;
}
.Intro{
    font-size: xx-large;
    align-items: center;
}
img{
    width: auto;
    height: 300px;
}
h3{
    font-size: xx-large;
}
p{
    font-size: x-large;
}
