* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    background-color: #f07d00;
    box-shadow: 0px 8px 10px grey;
}

nav {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    font-size: 18px;
    transition: 0.5s;
}

nav a:hover {
    color: black;
    font-weight: bold;
    transition: 0.5s;
}

nav img {
    width: 25px;
}

body{
    background-color: black;
    color: #f07d00;
}

h1{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 50%;
    transform: translate(-50%);
    text-align: center;
}

#imgNat{
    width: 30%;
    height: 30%;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 100px;
}

.divPresNat{
    display: inline-flex;
}

#txtPresNat1{
    margin-top: 100px;
    margin-right: 50px;
    text-align: center;
}